.App {
  text-align: center;
  margin: 20px 0;
}

.App__list {
  max-width: 450px;
  margin: auto;
}

.App__selected-info {
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 20px 0 0;
}
